* {
    margin: 0;
    padding: 0;    
}


body{
    background-color: #BBDEFB; 
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
    font-size: 18px;
}






header {
    
    padding: 10px 0;
}

nav {
    margin-bottom: 20px;
    margin-right: 40px;  
    text-align: right;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18PX;
    font-weight: bold;
    text-decoration: none;
    color: #009688;
    
}

#logo {
    height: 100px;
    display: left;           
}

    



nav ul{
    list-style-type: none;    
}

li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}

li a {
    font-size: 18px;
    color: #009688;
}

a {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18PX;
    font-weight: bold;
    text-decoration: none;
    color: #009688;

}


main {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    
}
  
section {
    margin-top: 10px;
    display: inline-block;
    /**width: 50%;**/
    vertical-align: top;
    padding: 20px;
    
}

/* Estilos para versión de escritorio */
@media (min-width: 768px) {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
      
  }
  
  /* Estilos para versión móvil */
  @media (max-width: 900px) {
    .row {
      display: flex;
      flex-direction: column;
    }
  
    .col.md-6 {
      width: 100%;
    }
  
    .col.md-6:last-child {
      order: 2;
    }
  }


/**section + section {
    border-top: 1px solid rgb(85, 81, 81);
    margin-top: 20px;
}**/
  
/**aside {
    position: absolute;
    top: 15px;
    right: 0;
    width: 50%;
    text-align: center;
}**/
  
#mockup {
    max-width: 100%;
    height: auto;
}

.mockupflat{
    display: inline;
    height: 450px;
    padding: 20px;
}

h1{
    font-size: 46px;
    font-weight:900;
    color: #1976D2;    
}

h2{
    padding: 0 0 16px 0;
   font-weight: bolder;
}

#behance{
    margin-top: 8px;
    font-size: 16px;
    padding-left: 24px;
}

.registrate{
    padding-top: 16px;
    border-top: 2px solid slategray;
    margin-top: 20px;
}


#iniciasesion { 
    padding: 5px 5px 5px 5px;
    border-style: 3px solid;
    border-color: #1976D2 ;    
}

#Registrar{
    padding: 5px 5px 5px 5px;
    border-style: 3px solid;
    border-color: #009688 ;
}

#Limpiar{
    padding: 5px 5px 5px 5px;
    border-style: 3px solid;
    border-color:#b00020 ;
}

#Comentar{
    padding: 5px 5px 5px 5px;
    border-style: 3px solid;
    border-color: #009688 ;
}

p{
    padding: 5PX 5PX 5PX 5PX;
}

label {
    padding: 5PX 5PX 5PX 5PX;
}

input{
    margin: 5PX 5PX 5PX ;
    border-color: rgb(128, 128, 128);
    border-radius: 5px;
}


footer{
    margin-top: 180px;
    margin-right: 24px;
    padding-left: 24px;
    
}

.footertext{
    text-align: right
}


.icons{
    width: 24px;
    height: 24px;
    margin: 24px 8px 24px 8px;
}


#mockup {
    max-width: 100%;
    height: auto;


    animation: Anima;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    }
    
    @keyframes Anima{
        from{opacity: 0;
            margin-left: 10%;}
        to{opacity: 1;
            margin-left: 0%;    }
    }

.izq{
    animation: Anima;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}

.der{
    animation: Anima2;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}

@keyframes Anima2{
    from{opacity: 0;
        margin-right: 30%;}
    to{opacity: 1;
        margin-right: 0%;    }
}

#up{
    animation: Anima3;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}

@keyframes Anima3{
    from{opacity: 0;
        margin-bottom: 30%;}
    to{opacity: 1;
        margin-bottom: 0%;    }
}
